#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
projects/*/library/
projects/*/temp/
projects/*/local/
projects/*/build/
projects/*/profiles/
projects/*/native/            # 폴더임을 명시하기 위해 / 추가
projects/*/bin/               # 스크립트 빌드 시 생성될 수 있는 폴더
#//////////////////////////
# NPM
#//////////////////////////
projects/*/node_modules/
tsconfig.tsbuildinfo # TS 증분 빌드 정보

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Extension (Cocos Legacy Bridge) 관련
#//////////////////////////
# 확장 프로그램 내부의 의존성과 빌드 결과물 제외
projects/*/extensions/*/node_modules/
projects/*/extensions/*/dist/
projects/*/extensions/*/bin/