/*Global*/
body {
    overflow: scroll;
}
button {
    all : unset;
}
.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

/*Top Navi*/
.top-navi {
    position : sticky;
    top : 0;
    z-index: 99;
    
    background-color: #B0926A;
    width : 100vw;
    min-height: 30px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-navi-title {
    margin: 10px 20px;
}
.top-navi-item {
    margin : 5px;
}
.btn-dropdown-custom {
    border-right : 1px solid #E1C78F;
    border-radius: unset;
}
.loading-custom{
    visibility: hidden;
}

/*Main*/
.flex-container{
    background-color: #DADDB1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
}
.gameContainer {
    float: inside;
}
.flex-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    max-height: 100vh;
    overflow: hidden;
    background-color: #B3A492;
}

.left-menu {
    flex : 1;
}
.resource-list {
    width : 90%;
    background-color: #DED0B6;
    height: 300px;

    display : flex;
    align-items: flex-start;
    overflow: scroll;
    flex-direction: column;
}
.btn-file-group {
    padding: 10px;
}
.btn-file-add {
    float : left;
}
.file-getter {
}

.image-folder {
    width: 100%;
    display : flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn-image-folder {
    width : 30px;
    height: 30px;
}
.image-list {
    width : 90%;
    background-color: #BFB29E;

    display : none;
    align-items: flex-start;
    overflow: scroll;
    flex-direction: column;
}
.image-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.gameContainer {
    flex : 2;
}

.hierarchy {
    width : 90%;
    background-color: #DED0B6;
    height: 300px;

    display : flex;
    overflow: scroll;
    flex-direction: column;
    padding: 10px;
}
.hierarchy-folder {
    display : flex;
}
.hierarchy-item {
    margin : unset;
}
.hierarchy-item:hover {
    color : crimson;
    cursor: pointer;
}

.right-menu {
    flex : 1;
    overflow: scroll;
}
.inspector-title {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}
.inspector-panel {
    width: 100%;
    overflow: scroll;
    
    max-height: 78vh;
}
.inspector-item-list {
    width: 100%;
    padding : 10px;
    border-bottom: 1px solid black;
    background-color: #DED0B6;
}
.inspector-item-content {
    width: 50%;
    font-weight: bold;
}
.inspector-item-input {
    max-width: 100px;
}
.inspector-apply-div{
    padding: 10px;
    display: none;
}

.modal-creator-content {
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    flex-direction: column;
}
.modal-category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    margin : 5px;
}
.modal-item:hover{
    border : 2px solid #5FBDFF;
    border-radius: 20px;
}
.modal-item-clicked {
    border : 2px solid #7B66FF;
    border-radius: 20px;
}
.modal-item-img {
    width: 100px;
    height: 100px;
}

.modal-item-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px dashed black;
}
.modal-item-detail-panel {
    display: none;
}
.modal-item-detail-panel-activate {
    display: block;
}
.modal-warning {
    display: block;
    color : red;
}

.toast-status {
    width : 10px;
    height: 10px;
}

.inputFileAdd {
    display: none;
}
.noHover {
    pointer-events: none;
}