<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PU_doubleXpLevelBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,356},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
            <key>PU_doubleXpMenuGagGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,375},{146,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{146,34}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagParticle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,729},{104,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{104,20}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,440},{38,24}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,187},{52,24}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{52,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine03.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,623},{60,24}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{60,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine04.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,658},{60,24}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{60,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,407},{62,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,8},{62,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine06.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,414},{62,24}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,8},{62,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine07.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,570},{62,24}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{62,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine08.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,213},{52,24}}</string>
                <key>offset</key>
                <string>{46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,7},{52,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGagShine09.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,643},{38,24}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,7},{38,24}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>PU_doubleXpMenuGag_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,685},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,20}}</string>
                <key>sourceSize</key>
                <string>{132,20}</string>
            </dict>
            <key>PU_doubleXpMenuLvIcon_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,440},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>PU_doubleXpMenuTxt_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,229},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>PU_doubleXpParticle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,863},{92,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PU_doubleXpProfileBase01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,471},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>PU_doubleXpProfileBase02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,432},{209,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,38}}</string>
                <key>sourceSize</key>
                <string>{209,38}</string>
            </dict>
            <key>PU_doubleXpTimeBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,718},{76,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,18}}</string>
                <key>sourceSize</key>
                <string>{76,18}</string>
            </dict>
            <key>PU_dummyClassGage01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,149},{256,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,24}}</string>
                <key>sourceSize</key>
                <string>{256,24}</string>
            </dict>
            <key>PU_dummyClassGage02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,601},{250,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{250,20}}</string>
                <key>sourceSize</key>
                <string>{256,24}</string>
            </dict>
            <key>PU_menuCoin_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,315},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>PU_menuPanel_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{333,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{333,100}}</string>
                <key>sourceSize</key>
                <string>{335,100}</string>
            </dict>
            <key>PU_menuPanel_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1},{322,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,100}}</string>
                <key>sourceSize</key>
                <string>{322,100}</string>
            </dict>
            <key>PU_menu_mb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1},{304,108}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{304,108}}</string>
                <key>sourceSize</key>
                <string>{304,124}</string>
            </dict>
            <key>PU_menu_mb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{264,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{264,120}}</string>
                <key>sourceSize</key>
                <string>{264,124}</string>
            </dict>
            <key>PU_nvBuy_Btn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,103},{290,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{290,44}}</string>
                <key>sourceSize</key>
                <string>{310,90}</string>
            </dict>
            <key>PU_nvMenuBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,863},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>PU_nvMenuBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,947},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>PU_nvPhotoDefault_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,596},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>PU_nvWinBase01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{292,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,30}}</string>
                <key>sourceSize</key>
                <string>{292,30}</string>
            </dict>
            <key>PU_nvWinBase02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,669},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>PU_slotMCountBase01.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,689},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>PU_smFastChe01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,573},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>PU_smFastChe02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,657},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>PU_smFastChe03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,103},{87,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{87,68}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>PU_smFastChe04_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,718},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>PU_smFastChe05_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,135},{5,4}}</string>
                <key>offset</key>
                <string>{-47,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{5,4}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>PU_smFreeSpinBtn_01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,342},{226,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{226,62}}</string>
                <key>sourceSize</key>
                <string>{228,64}</string>
            </dict>
            <key>PU_smFreespinBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,424},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smFreespinBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,511},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smFreespin_betBoardfx01_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,192},{220,66}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,66}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>PU_smMinusBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>PU_smMinusBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,77},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>PU_smPlusBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,111},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>PU_smPlusBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,153},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>PU_smQuickFreespinBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,522},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smQuickFreespinBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,111},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smReSpinBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,209},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smReSpinBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,307},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smSpinBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,405},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smSpinBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,609},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smStopAutoBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smStopAutoBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,503},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_smTotal01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,149},{278,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,81}}</string>
                <key>sourceSize</key>
                <string>{278,81}</string>
            </dict>
            <key>PU_smTotal01_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
            <key>PU_smTotalbetBase01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,135},{4,5}}</string>
                <key>offset</key>
                <string>{82,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,76},{4,5}}</string>
                <key>sourceSize</key>
                <string>{168,81}</string>
            </dict>
            <key>PU_smTotalbetBase_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{278,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,81}}</string>
                <key>sourceSize</key>
                <string>{278,81}</string>
            </dict>
            <key>PU_smTotalbetText_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,738},{92,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,16}}</string>
                <key>sourceSize</key>
                <string>{92,16}</string>
            </dict>
            <key>PU_sm_NewSlot_FreespinBtn01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,315},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_sm_NewSlot_FreespinBtn03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,413},{253,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,96}}</string>
                <key>sourceSize</key>
                <string>{253,96}</string>
            </dict>
            <key>PU_sm_NewSlot_Freespin_betBoard_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,239},{191,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,44}}</string>
                <key>sourceSize</key>
                <string>{191,44}</string>
            </dict>
            <key>PU_sm_NewSlot_Total01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,232},{276,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{276,81}}</string>
                <key>sourceSize</key>
                <string>{278,81}</string>
            </dict>
            <key>PU_sm_NewSlot_Total01_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,707},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
            <key>pu_lbMenuLevelBase_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{278,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,82}}</string>
                <key>sourceSize</key>
                <string>{278,82}</string>
            </dict>
            <key>pu_lbMenuLevelBase_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,623},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
            <key>pu_lbMenuLevelGauge02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,707},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,20}}</string>
                <key>sourceSize</key>
                <string>{132,20}</string>
            </dict>
            <key>pu_lbMenuLevelGauge_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,729},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,20}}</string>
                <key>sourceSize</key>
                <string>{132,20}</string>
            </dict>
            <key>pu_nvPhotoFacebook_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,276},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pu_smTotalbetBaseCover_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,523},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>pu_smTotalbetBase_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,791},{226,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,82}}</string>
                <key>sourceSize</key>
                <string>{226,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PU_newSlotMenuAtlas_mb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6e01f2b8b0ec5fcdc17008d6e60c1b8:3445f7d52c6d4c82d369a5ca922a85c3:904ed0bb8121badc7873135a31493a48$</string>
            <key>textureFileName</key>
            <string>PU_newSlotMenuAtlas_mb.png</string>
        </dict>
    </dict>
</plist>
