<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PU_balanceCoinSpin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,427},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,427},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,356},{59,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,356},{57,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,330},{51,61}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,393},{39,61}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,393},{37,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{37,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,456},{49,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{49,55}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,456},{59,49}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{59,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,330},{61,45}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,330},{61,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{61,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,393},{61,45}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,456},{57,51}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{57,51}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,330},{45,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{45,57}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,293},{33,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,330},{39,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,393},{51,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,419},{55,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,419},{59,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_balanceCoinSpin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,293},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_coinSpinLine01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,377},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{37,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>PU_coinSpinLineFx01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{226,220}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{226,220}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>PU_coinSpinLineFx03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PU_coinSpinLineFx04_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{282,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,32}}</string>
                <key>sourceSize</key>
                <string>{282,32}</string>
            </dict>
            <key>PU_coinSpin_effectBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,330},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{95,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>PU_coinSpin_effectLight03.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,223},{223,105}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{223,105}}</string>
                <key>sourceSize</key>
                <string>{265,105}</string>
            </dict>
            <key>PU_underCount01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,330},{148,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PU_newCoinAtlas_mb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e26200dc46ce0e2deee7077fe1574d:d0d2d228ef8ef9f6974b91526c237619:efdacf8f6a9ae3a953269ba530b6760e$</string>
            <key>textureFileName</key>
            <string>PU_newCoinAtlas_mb.png</string>
        </dict>
    </dict>
</plist>
