<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slot_loadingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,41},{718,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,18}}</string>
                <key>sourceSize</key>
                <string>{718,18}</string>
            </dict>
            <key>slot_loadingBar_Fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>slot_loadingBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,41},{740,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{740,40}}</string>
                <key>sourceSize</key>
                <string>{740,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PU_ProgressBarAtlas.png</string>
            <key>size</key>
            <string>{64,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2197b38399128e8214dd44b1af68833:c5f8d3653e22250fb24c2f236653788b:af69f31de862e59471ffbf01d9b80cc9$</string>
            <key>textureFileName</key>
            <string>PU_ProgressBarAtlas.png</string>
        </dict>
    </dict>
</plist>
