html {
    -ms-touch-action: none;
}

/*body, canvas, div {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    outline: none;*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

/*body {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    margin: 0;*/

/*    cursor: default;*/
/*    color: #888;*/
/*    background-color: #333;*/

/*    text-align: center;*/
/*    font-family: Helvetica, Verdana, Arial, sans-serif;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

canvas {
    background-color: rgba(255, 0, 0, 0);
}

body {
    height: 100vh;
}

.grid_container {
    display: grid;
    gap: 2px;
    /*grid-template-columns: auto 200px 200px;*/
    grid-template-columns: 3fr 1fr 1fr ;
    grid-template-rows   : 1fr;
    /*grid-template-columns: auto 200px 200px 200px;*/
    /*grid-template-rows: repeat(6, 1fr);*/
    /*grid-auto-rows: minmax(100px, 20% );*/

    /*grid-template-areas:*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main assets inspector"*/
    /*    "sub sub sub sub assets inspector"*/
    /*    "sub sub sub sub assets inspector";*/
}

.grid_container > div {
    background-color: #95B8E7;
}

#cocosView_gridItem, #subView_gridItem, #hierarchy_gridItem, #assets_gridItem, #inspector_gridItem {
    border: 5px solid #FFFF00;
}

#cocosView_gridItem {
    background: #00F0F0;
    /*grid-area: main;*/
}
#subView_gridItem {
    background: #444444;
    /*grid-area: sub;*/
}
#hierarchy_gridItem {
    background: #FF00FF;
    height: 50%;
    /*grid-area: hierarchy;*/
    overflow: scroll;
}

#second_column {
    height: 90vh;
}

#assets_gridItem {
    background: #FF0000;
    height : 50%;
    /*grid-area: assets;*/
    overflow: scroll;
}

#assets {

}
#hierarchy {

}

#inspector_gridItem {
    /*grid-area: inspector;*/
}


.sidenav {
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #353535;
    text-align: left;
}

.smallWidget {
    width: 100%;
    height: 200px;
    overflow: auto;
    background-color: #353535;
}

.treeWidget {
    width: 100%;
    height: 340px;
    overflow: auto;
    background-color: #353535;
}

.actionWidget {
    width: 100%;
    height: 95px;
    overflow: auto;
    background-color: #353535;
}

.positionInput {
    width: 50px;
}

.side_hr { width:5px; height:100%; position: fixed; margin-left: 265px; z-index: 2; background-color:#888888; }
.Cocos2dGameContainer { z-index: 0; }
#side_hr { cursor:pointer; }

#Cocos2dGameContainer {
    position: relative;
    max-width : 100%;
    height: auto;
    /*margin-left: 270px;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-align: center;*/
    /*-webkit-box-pack: center;*/
}

.styleLabel {
    color: white;
}

.styleButton {
    background-color: #353535;
    color: white;
    border: 2px solid #555555;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.styleButton:hover {
    background-color: #555555;
    color: white;
}

::-webkit-scrollbar{width: 10px; height: 10px; }
::-webkit-scrollbar-track {background-color:#333333; }
::-webkit-scrollbar-thumb {background-color:#777777;border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:8px;height:8px;background:#333333;}


.fileContainer{
    width: 95%;
    height: 280px;
    padding-top:5px;
 }

.widgetContainer{
    width: 95%;
    height: 420px;
    padding-top:5px;
}

.uiAnimationContainer{
    width: 95%;
    height: 140px;
    padding-top:5px;
    display: none;
}

.nodeInfoContainer{
    width: 95%;
    height: 210px;
    padding-top:5px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    z-index: 1;
    width:45%;
    background: none;
    color: #222;
    display: inline-block;
    padding: 5px 1px;
}

ul.tabs li.current{
    background: #555555;
    color: #222;
    border-top: 1px solid #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #555555;
    border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
}

.tab-fileContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-fileContent.current{
    width: 100%;
    height:235px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-widgetContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-widgetContent.current{
    width: 100%;
    height:375px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-uiAnimContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-uiAnimContent.current{
    width: 100%;
    height:95px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-propertiesContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-propertiesContent.current{
    width: 100%;
    height:140px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

*{
    border: solid 1px #fd7777;
}