html {
    -ms-touch-action: none;
}

/*body, canvas, div {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    outline: none;*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

/*body {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    margin: 0;*/

/*    cursor: default;*/
/*    color: #888;*/
/*    background-color: #333;*/

/*    text-align: center;*/
/*    font-family: Helvetica, Verdana, Arial, sans-serif;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

:root {
    --background: #fff;
    --text: #363636;
    --heading-text: #000;
    --heading-background : #fff;
    --anchor-text: #0076d1;
    --code-background: #efefef;
    --code-text: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #202b38;
        --text: #dbdbdb;
        --heading-text: #fff;
        --heading-background : #444242;
        --anchor-text: #0076d1;
        --code-background: #161f27;
        --code-text: #ffbe85;
    }
}

canvas {
    background-color: rgba(255, 0, 0, 0);
}

body {
    background: var(--background);
    height: 100vh;
}

h1,
h2,
h3 {
    color: var(--heading-text);
}

p,
dl {
    color: var(--text);
}

.frameBar_div {
    color: var(--text);
    background: var(--heading-background);
}

.frameBar_label {
    display: inline-block;
    font-weight: bold;
    width: 70px;
    color: var(--text);
    background: var(--heading-background);
    margin: 5px;
}

.frameBar_findInput {
    display: inline;
    color: var(--text);
    background: var(--heading-background);
    border: 2px solid #bbbbbb;
}

.img_preview_div {
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid #BEC5D0;
    color: gold;
}

.img_preview {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.img_preview:first-child {*/
/*    filter: opacity( 0.5 );*/
/*}*/



a {
    color: var(--anchor-text);
    text-decoration: none;
}

code {
    color: var(--code-text);
    background: var(--code-background);
    border-radius: 6px;
    padding: 2.5px 5px;
}

.grid_container {
    display: grid;
    gap: 2px;
    /*grid-template-columns: auto 200px 200px;*/
    grid-template-columns: 3fr 1fr 1fr ;
    grid-template-rows   : 1fr;
    /*grid-template-columns: auto 200px 200px 200px;*/
    /*grid-template-rows: repeat(6, 1fr);*/
    /*grid-auto-rows: minmax(100px, 20% );*/

    /*grid-template-areas:*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main hierarchy inspector"*/
    /*    "main main main main assets inspector"*/
    /*    "sub sub sub sub assets inspector"*/
    /*    "sub sub sub sub assets inspector";*/
}

button:active {
    box-shadow: inset -.3rem -.1rem 1.4rem  #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;
}

.grid_container > div {
    /*background-color: #95B8E7;*/
}

#cocosView_gridItem, #subView_gridItem, #hierarchy_gridItem, #assets_gridItem, #inspector_gridItem {
    /*border: 5px solid #FFFF00;*/
    border-radius: 3px;
    border: solid 1px #a8a5a5;
}

#cocosView_gridItem {
    /*background: #00F0F0;*/
    height: 98vh;
    /*overflow: scroll;*/
}

#cocosView {
    height: 65%;
}

#bottomView {
    background: #444242;
    height: 35%;
    overflow-y: scroll;
}

#bottom_menu {
    background: #444444;
    /*grid-area: sub;*/
}

#div_command_log {
    background-color: #222222;
    overflow-y: scroll;
}

.text_command_log {
    color: #bbbbbb;
}

#hierarchy_gridItem {
    /*background: #FF00FF;*/
    height: 50%;
    /*grid-area: hierarchy;*/
    overflow: scroll;
}

#second_column {
    height: 98vh;
}

#assets_gridItem {
    /*background: #FF0000;*/
    height : 50%;
    /*grid-area: assets;*/
    overflow: scroll;
}

#assets {

}
#hierarchy {

}

#inspector_gridItem {
    /*grid-area: inspector;*/
    height: 98vh;
    overflow: scroll;
}

.component_root {
}

.component_title {
    display: block;
    background-color: #95B8E7;
}

.component_oneAttribInput {
    display: inline;
    width: 150px;
    margin-right: 10px;
    margin-left: 20px;
    background: #222222;
    color: #dbdbdb;
}

.component_twoAttribInput {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
    background: #222222;
    color: #dbdbdb;
}

.component_lineDiv {
    /*color: #4b4b4b;*/
}

.component_groupDiv {
    border: 1px solid #95B8E7;
    border-radius: 5px;
    margin: 2px;
}



.component_lineLabel {
    display: inline;
    width: 70px;
    padding-left: 10px;
    color: #DEDEDEFF;
}

.no_dot {
    list-style: none;
}

.sidenav {
    height: 100%;
    width: 265px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #353535;
    text-align: left;
}

.smallWidget {
    width: 100%;
    height: 200px;
    overflow: auto;
    background-color: #353535;
}

.treeWidget {
    width: 100%;
    height: 340px;
    overflow: auto;
    background-color: #353535;
}

.actionWidget {
    width: 100%;
    height: 95px;
    overflow: auto;
    background-color: #353535;
}

.positionInput {
    width: 50px;
}

.side_hr { width:5px; height:100%; position: fixed; margin-left: 265px; z-index: 2; background-color:#888888; }
.Cocos2dGameContainer { z-index: 0; }
#side_hr { cursor:pointer; }

#Cocos2dGameContainer {
    position: relative;
    max-width : 100%;
    height: auto;
    /*margin-left: 270px;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: horizontal;*/
    /*-webkit-box-align: center;*/
    /*-webkit-box-pack: center;*/
}

.styleLabel {
    color: white;
}

.styleButton {
    background-color: #353535;
    color: white;
    border: 2px solid #555555;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.styleButton:hover {
    background-color: #555555;
    color: white;
}

::-webkit-scrollbar{width: 10px; height: 10px; }
::-webkit-scrollbar-track {background-color:#333333; }
::-webkit-scrollbar-thumb {background-color:#777777;border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    width:8px;height:8px;background:#333333;}


.fileContainer{
    width: 95%;
    height: 280px;
    padding-top:5px;
 }

.widgetContainer{
    width: 95%;
    height: 420px;
    padding-top:5px;
}

.uiAnimationContainer{
    width: 95%;
    height: 140px;
    padding-top:5px;
    display: none;
}

.nodeInfoContainer{
    width: 95%;
    height: 210px;
    padding-top:5px;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    z-index: 1;
    width:45%;
    background: none;
    color: #222;
    display: inline-block;
    padding: 5px 1px;
}

ul.tabs li.current{
    background: #555555;
    color: #222;
    border-top: 1px solid #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #555555;
    border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px;
}

.tab-fileContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-fileContent.current{
    width: 100%;
    height:235px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-widgetContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-widgetContent.current{
    width: 100%;
    height:375px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-uiAnimContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-uiAnimContent.current{
    width: 100%;
    height:95px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}

.tab-propertiesContent{
    display: none;
    background: #555555;
    padding: 5px;
}

.tab-propertiesContent.current{
    width: 100%;
    height:140px;
    display: inherit;
    padding: 5px;
    box-shadow: 0px -1px 0 0 #A6A6A6;
    border-right: 1px solid #A6A6A6;
    border-left: 1px solid #A6A6A6;
    border-bottom: 1px solid #A6A6A6;
}


.component_groupTitleLabel {
    display : block;
    margin : 2px;
    font-weight: bold;
    color: #95B8E7;
}

.component_subGroupLabel {
    display : block;
    color: #BEC5D0;
    margin-top: 3px;
    margin-left : 2px;
    border-bottom: 2px solid #444242;
}

.component_longPropertyLabel {
    display: inline-block; /* inline-block width, height 적용 가능 */
    width : 110px;
    margin-left: 2px; /* inline-block 은 margin 좌,우만 적용, padding 은 의미 없음.*/
    margin-right: 10px;
    color: #DEDEDEFF;
}

.component_oneShortLabel {
    display: inline-block; /* inline-block width, height 적용 가능 */
    width : 50px;
    margin-left: 2px; /* inline-block 은 margin 좌,우만 적용, padding 은 의미 없음.*/
    margin-right: 10px;
    color: #DEDEDEFF;
}

.component_twoPropertyLabel {
    display: inline-block; /* inline-block width, height 적용 가능 */
    width : 100px;
    margin-left: 2px; /* inline-block 은 margin 좌,우만 적용, padding 은 의미 없음.*/
    margin-right : 10px;
    color: #DEDEDEFF;
}

.component_attribLabel {
    display: inline-block;
    width : 40px;
    margin: 5px;
    color: #DEDEDEFF;
}

.component_attribPointLabel {
    display: inline-block;
    width : 25px;
    margin: 2px;
    text-align: center;
    color: #DEDEDEFF;
}

.component_attribSizeLabel {
    display: inline-block;
    /*font-size: small;*/
    width : 25px;
    margin: 2px;
    text-align: center;
    color: #DEDEDEFF;
}

.component_longTextInput {
    display: inline-block;
    width : 150px;
    margin : 2px;
    background: #222222;
    color: #DEDEDEFF;
}

.component_shortTextInput {
    display : inline-block;
    width   : 45px;
    margin  : 2px;
    background: #222222;
    color: #DEDEDEFF;
}

.command_div {
    /*background-color: #555555;*/
    background-color: #363636;
    border : 1px solid #444242;
    overflow-x: hidden;
    overflow-y: scroll;
}

.command_groupLabel {
    display: inline-block;
    width : 200px;
    color: #FBFBFB;
}

.command_nameLabel {
    display: inline-block;
    width : 200px;
    color: #9ed067;
}

.command_valueLabel {
    display: inline-block;
    width : 300px;
    color: #dcbf57;
}

input[readonly] {
    color: #DEDEDEFF;
    background-color: #363636;
}

*{
    /*border: solid 1px #e51313;*/
}

